body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
    color: #333;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff9800;
    padding: 15px 30px;
    border-radius: 10px;
    color: white;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
}


h1 {
    text-align: center;
    color: white;
    background-color: #ff9800;
    padding: 20px;
    border-radius: 10px;
}


.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}


.servicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.tarjeta {
    width: 200px;
    background: #ffffff;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

h2,h3,h4,h5, h6 {
    color: #1900fa;
}

p {
    text-align: justify;
    line-height: 1.6;
}

a {
    display: inline-block;
    background-color: #2196F3;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
    background-color: #1565c0;
}

img {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    border: 4px solid #ff9800;
    max-width: 100%;
}


ul {
    background-color: #e8f5e9;
    padding: 15px;
    border-radius: 8px;
}

ol {
    background-color: #fff3cd;
    padding: 15px;
    border-radius: 8px;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 15px;
    margin-top: 20px;
}


@media (max-width: 637px) {

    body {
        background-color: rgb(236, 106, 167);
    }

    .navbar {
        flex-direction: column;
    }

    .menu {
        flex-direction: column;
    }

    h1 {
        color: rgb(128, 120, 243);
    }
}


@media (min-width: 700px) {
    h1 {
        color: rgb(15, 209, 177);
    }
}


#btnSaludar {
    background-color: #007bff; 
    color: white;              
    padding: 15px 30px;        
    font-size: 20px;           
    border: none;              
    border-radius: 10px;       
    cursor: pointer; 
     }          

#btnSaludar:hover {
    background-color: #0056b3; 
}
